.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    height: 50px;
    color: #fff;
    margin-top: 2em;
  }
  
  .footer span {
    font-weight: bold;
  }
