.showcase {
    background : #333;
    height: 100vh;
    color: white;
  }
  
  .showcase .showcase_content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center; 
    height:100%;
    padding: 0 2rem;
  }
  