.navbar{
    display: flex;
    position: sticky;
    top: 0;
    background: black;
    color: white;
    justify-content: space-between;
    z-index: 1;
    padding: 1rem;
  }
  
  .menu{
    display: flex;
    align-items: center;
    list-style: none;
    background: black;
  }
  
  .menu li a{
  color: white;
  padding: 0.75rem;
  margin: 0 0.25rem;
  text-decoration: none;
  }
  
  .menu li a:hover{
    background:#2df82d ;
    color: black;
    border-radius: 5px;
  }
